button.delete {
    margin-left: 5px!important;
}

.todo-item{
    display: flex!important;
    justify-content: space-between!important;
    align-items: center;
    border: 2px solid #000;
    margin: 5px 0;
    padding: 8px;
    border-radius: 10px;
    list-style-type: none;
}
.todo-item.true{
    background-color: #ccc;
}
.buttons {
    display: flex;
    justify-content: flex-end;
}

.complete:hover {
    color: #0f0;
    border-color: #0f0;
}
.revert:hover {
    color: #ff0;
    border-color: #ff0;
}
.delete:hover {
    color: #f00;
    border-color: #f00;
}