.MuiTextField-root {
    font-family: 'Courier New', Courier, monospace;
    flex-grow: 1;
    margin-right: 10px;
}

.add-todo-form {
    width: 70vw;
    max-width: 600px;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}
.add-todo {
    margin-left: 10px!important;
}
.add-todo:hover{
    color: #00f;
    border-color: #00f;
}